.sapMCustomListItem:focus,
.sapMCustomListItem:focus-visible {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.sapMCustomListItem .sapMCustomListItemContent:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
